body {
  margin: 0;
  font-family: Calibri, sans-serif;
}

.nav-bar {
  display: flex;
  /* position: fixed; */
  /* width: 100%; */
  align-items: center;
  justify-content: space-between;
  background-color: rgb(180, 219, 255);
  padding-left: 30px;
}

.container {
  max-width: 960px;
  margin: 20px auto;
  padding-left: 10px;
  padding-right: 10px;
}

.blog-links {
  text-decoration: none;
  list-style: none;
}

.row {
  display: flex;
}

.col-1 {
  width: 8.33%;
}
.col-2 {
  width: 16.66%;
}
.col-3 {
  width: 25%;
}
.col-4 {
  width: 33.33%;
}
.col-5 {
  width: 41.66%;
}
.col-6 {
  width: 50%;
}
.col-7 {
  width: 58.33%;
}
.col-8 {
  width: 66.66%;
}
.col-9 {
  width: 75%;
}
.col-10 {
  width: 83.33%;
}
.col-11 {
  width: 91.66%;
}
.col-12 {
  width: 100%;
}

code {
  background-color: rgba(255, 149, 202, 0.3);
}
